extends layout

block content
      
   .container
      .everythingButMap(id="everythingButMap")
 
         .ourgames(id='games')
            .mainAttractionText
               img(src='images/decoiconsmaller2.jpg')
               img.img-responsive(src='images/decobar.jpg')
            .gamesText1  
               | Enjoy some drinks or grab some bites at our main bar.
               iframe(class='iframeclass', src='https://360.io/Asa9rJ')
            
            .mainAttractionText
               img(src='images/decomiddle.jpg')
               img.img-responsive(src='images/decorestaurant.jpg')
            .gamesText1 
               | Wether it's family dinner or a quick bite on the go, our dining room is happy to accomodate. If there's a game you know what we'll have on the big screen!
               iframe(class='iframeclass', src='https://360.io/6ZDXQu')

            .mainAttractionText
               img(src='images/decomiddle.jpg')
               img.img-responsive(src='images/decogameroom.jpg')
            .gamesText1
               | Everyone loves games right? We have some of the best games from the 80s, 90s, and modern titles too! Come play!
               iframe(class='iframeclass', src='https://360.io/Gyjjru')

            .mainAttractionText
               img(src='images/decomiddle.jpg')
               img.img-responsive(src='images/decova1.jpg')
            .gamesText1
               | Welcome to our newly remodeled back bar where we proudly welcome you to the 80s in style!
               iframe(class='iframeclass', src='https://360.io/Md39gs')

            .mainAttractionText
               img(src='images/decobottom.jpg')


   script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5cd9a02acddb9018')
   script.
      $("#galleryMenu").addClass('active'); 

