div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
	div.container
		div.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(style='color:#00613a', ref="#")
				| CantonJunctionVintageArcade
		div.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href="#") Home
				li
					a(href="#events") Events
				li
					a(href="#games") Our Games
				li
					a(href="#contact") Contact
