extends layout

block content
   div.container
      .junctionlinkcenter
         .junctionlink(onclick="location.href='https://www.junctionsportspub.com/';")
            img.normal(src='images/clickhere.gif', alt='')
            img.hover(src='images/clickhereroll.gif', alt='')
      //iframe(width='100%', height='400px', scrolling='no', frameborder='no', src='https://360.io/Md39gs')
      //iframe(width='100%', height='400px', scrolling='no', frameborder='no', src='https://360.io/Gyjjru')
      iframe(class='iframeclass', src='https://360.io/Md39gs')
      iframe(class='iframeclass', src='https://360.io/Gyjjru')
 
