extends layout

block content
      
   .container
      .junctionlinkcenter
         .junctionlink(onclick="location.href='https://www.junctionsportspub.com/';")
            img.normal(src='images/clickhere.gif', alt='')
            img.hover(src='images/clickhereroll.gif', alt='')

         .separator1
         
 
      .grandopening(id='events')
      //    img.img-responsive(src='images/cjvaquart1.jpg', alt='')
          .addthis_inline_follow_toolbox


      .adOnIndexPage
         //img.img-responsive(src='images/IMG_60741.jpg', alt='')
         .w3-content.w3-display-container
            img.mySlides(src='images/IMG_60741.jpg')
            img.mySlides(src='images/CJVAOPENINGPOSTER4.jpg')
            img.mySlides(src='images/IMG_62161.jpg')
            img.mySlides(src='images/IMG_61691001.jpg')
            img.mySlides(src='images/IMG_61951.jpg')
  
      .gamesText
         iframe(class='iframeclass', src='https://360.io/Gyjjru')
         iframe(class='iframeclass', src='https://360.io/Md39gs')


   script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5cd9a02acddb9018')
   script.
      $("#homeMenu").addClass('active');
