extends layout

block content
      
   .container
      .junctionlinkcenter
         .junctionlink(onclick="location.href='https://www.junctionsportspub.com/';")
            img.normal(src='images/clickhere.gif', alt='')
            img.hover(src='images/clickhereroll.gif', alt='')

         .separator1
         
 
      .grandopening(id='events')
      //    img.img-responsive(src='images/cjvaquart1.jpg', alt='')
          .addthis_inline_follow_toolbox

      .mainAttractionText
         img(src='images/decoiconsmaller2.jpg')
         img.img-responsive(src='images/decomain2.jpg')

      .adOnIndexPage
         //img.img-responsive(src='images/IMG_60741.jpg', alt='')
         .w3-content.w3-display-container
            img.mySlides(src='images/IMG_60741.jpg')
            img.mySlides(src='images/CJVAOPENINGPOSTER4.jpg')
            img.mySlides(src='images/IMG_62161.jpg')
            img.mySlides(src='images/IMG_61691001.jpg')
            img.mySlides(src='images/IMG_61951.jpg')
 
      .mainAttractionText
         img(src='images/decomiddle.jpg')
         img.img-responsive(src='images/decogameroom.jpg')

      .gamesText
         iframe(class='iframeclass', src='https://360.io/Gyjjru')

      .mainAttractionText
         img(src='images/decomiddle.jpg')
         img.img-responsive(src='images/decova1.jpg')
      
      .gamesText
         iframe(class='iframeclass', src='https://360.io/Md39gs')

      .mainAttractionText
         img(src='images/decobottom.jpg')

   script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5cd9a02acddb9018')
   script.
      $("#homeMenu").addClass('active');
