extends layout

block content
   div.container
      .junctionlink.img-responsive.center-block
      //img(src="images/clickhere.gif")
      .wrapper-with-intrinsic-ratio
         .element-to-stretch 
      iframe(width='80%', height='400px', scrolling='no', frameborder='no', src= 'https://360.io/Md39gs')
 
