
.junctionlinkcenter{
  text-align: center;
  background-image: url("/images/bgimg1.1.gif");
  background-repeat: repeat;
}

.adOnIndexPage{
  max-width: 70%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;


}

.junctionlink { 
  width: 300px;
  height: 224px; 
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer
}
.junctionlink img.normal,
.junctionlink:hover img.hover { display: block; }
.junctionlink  img.hover,
.junctionlink:hover img.normal { display: none; }

.iframeclass {
  width: 100%;
  height: 480px;
  scrolling: no;
  frameborder: 2;
  margin-top: 10px;
  margin-bottom: 10px;
}
